@import url(http://fonts.googleapis.com/css?family=Electrolize);
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #111;
  color: #f7f7f7;
  font-family: "Electrolize", arial, sans-serif;
  font-size: 24px;
}
@media only screen and (max-width: 576px) {
  html, body {
    font-size: 12px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  html, body {
    font-size: 16px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  html, body {
    font-size: 20px;
  }
}
.app-orientation-overlay {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background: rgba(0,0,0,0.9);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 20;
  font-size: 2.5rem;
  text-align: center;
}
@media (orientation: portrait) {
  .app-orientation-overlay {
    display: flex;
  }
}
.app-orientation-overlay span {
  font-size: 5rem;
}
.app {
  width: 100%;
  height: 100%;
  background: #111;
}
.sc-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}
.sc-col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
  height: 97%;
  align-items: center;
}
.sc-col.sc-p-right {
  flex-direction: column-reverse;
}
.sc-col.sc-middle {
  justify-content: space-around;
  width: 20%;
}
.sc-middle a:active span {
  background: #ffff00;
}
.sc-middle a span {
  display: inline-block;
  text-align: center;
  width: 2rem;
  padding: 0.5rem 0;
  font-size: 1rem;
  border-radius: 100%;
  background: #ddd;
  color: #111;
}
.sc-spacer {
  flex-basis: 25%;
}
.sc-counter {
  flex-basis: 40%;
  width: 100%;
  height: 100%;
  position: relative;
}
.sc-scores {
  flex-basis: 20%;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}
.sc-p-left .sc-scores {
  flex-direction: row-reverse;
}
.sc-score {
  font-size: 3rem;
  font-weight: bold;
  color: #ffff00;
  flex-basis: 30%;
  text-align: left;
}
.sc-p-left .sc-score {
  text-align: right;
}
.sc-last-change {
  flex-basis: 10%;
  text-align: center;
}
.sc-count-value {
  z-index: 10;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40%;
  right: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40%;
  background: #111;
  font-size: 3rem;
}
.sc-read {
  display: inline-block;
}
.sc-p-left .sc-read {
  transform: rotate(90deg);
}
.sc-p-right .sc-read {
  transform: rotate(270deg);
}
.sc-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 45%;
  border: 0;
  font-size: 3rem;
  background: #6161b9;
  color: #111;
}
.sc-p-left button:first-child {
  left: 5%;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
}
.sc-p-left button:last-child {
  right: 5%;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}
.sc-p-right button:first-child {
  right: 5%;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}
.sc-p-right button:last-child {
  left: 5%;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
}
.sc-p-left button:first-child:active,
.sc-p-right button:first-child:active {
  background: #ff1010;
}
.sc-p-left button:last-child:active,
.sc-p-right button:last-child:active {
  background: #10ff10;
}
button:focus {
  outline: none;
}

.sc-settings-container {
  position: relative;
  height: 100%;
}
.sc-close-view {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  font-size: 1.2rem;
}
.sc-settings-container form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  font-size: 1.5rem;
}
.sc-settings-container .sc-set-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sc-settings-container input {
  line-height: 1.7rem;
  font-size: 1.5rem;
  width: 8rem;
}
