@import url(http://fonts.googleapis.com/css?family=Electrolize);
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #111;
  color: #f7f7f7;
  font-family: "Electrolize", arial, sans-serif;
}
.app {
  width: 100%;
  height: 100%;
  background: #111;
}
.sc-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}
.sc-col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
  height: 97%;
  align-items: center;
}
.sc-col.sc-p-right {
  flex-direction: column-reverse;
}
.sc-col.sc-middle {
  justify-content: space-around;
  width: 20%;
}
.sc-middle a:active span {
  background: #ffff00;
}
.sc-middle a span {
  display: inline-block;
  text-align: center;
  width: 2em;
  padding: 0.5em 0;
  font-size: 1em;
  border-radius: 100%;
  background: #ddd;
  color: #111;
}
.sc-spacer {
  flex-basis: 25%;
}
.sc-counter {
  flex-basis: 40%;
  width: 100%;
  height: 100%;
  position: relative;
}
.sc-scores {
  flex-basis: 20%;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}
.sc-p-left .sc-scores {
  flex-direction: row-reverse;
}
.sc-score {
  font-size: 3em;
  font-weight: bold;
  color: #ffff00;
}
.sc-last-actions {
  flex-grow: 1;
  display: flex;
}
.sc-p-left .sc-last-actions {
  flex-direction: row-reverse;
  justify-content: flex-start;
}
.sc-last-actions div {
  text-align: center;
  flex-basis: 2em;
}
.sc-count-value {
  z-index: 10;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40%;
  right: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40%;
  background: #111;
  font-size: 3em;
}
.sc-read {
  display: inline-block;
}
.sc-p-left .sc-read {
  transform: rotate(90deg);
}
.sc-p-right .sc-read {
  transform: rotate(270deg);
}
button {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 45%;
  border: 0;
  font-size: 3em;
  background: #6161b9;
  color: #111;
}
.sc-p-left button:first-child {
  left: 5%;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
}
.sc-p-left button:last-child {
  right: 5%;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}
.sc-p-right button:first-child {
  right: 5%;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}
.sc-p-right button:last-child {
  left: 5%;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
}
.sc-p-left button:first-child:active,
.sc-p-right button:first-child:active {
  background: #ff1010;
}
.sc-p-left button:last-child:active,
.sc-p-right button:last-child:active {
  background: #10ff10;
}
button:focus {
  outline: none;
}
